<h1>Tweets</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th>Photo</th>
      <th>Like</th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.content %></td>
        <td><%= tweet.user %></td>
        <td><%= image_tag(tweet.user.url_photo , size: "30x30") %></td>
        <% if current_user.like?(tweet.id) %>
            <td><%= link_to "Deslike", root_path %></td>
        <% else %>
            <td><%= link_to "like", tweet_likes_path(tweet.id), method: :post %></td>
        <% end %>    
      </tr>
    <% end %>
  </tbody>
</table>
